BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
BreakBeforeBraces: Attach
#Cpp11BracedListStyle: false
ColumnLimit: 128
